
 body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

.dova {
    max-width: 400px;
    margin: 250px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#puta {
    width: calc(100% - 100px); /* Adjust width as per your preference */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.botona {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 13px;
}

.botona:hover {
    background-color: #0056b3;
}

.Lista {
    list-style-type: none;
    padding-left: 0;
}

.Lista li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.Lista li:before {
    content: '';
}

h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #007bff;
}

button{
    color: wheat;
    background-color: brown;
    margin-left: 20px;
}

/* Add spacing between input and button */
.form-group {
    display: flex;
    align-items: center;
}

.form-group input {
    margin-right: 10px;
    margin-top: 6px;
}